.form-container {
    margin-left: 50%;
    width: 38%;
    padding-left: 22px;
}

form {
    max-width: 900px;
    width: 100%;
}

.row1 {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.row2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.full-width {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.note {
    color: rgb(90, 68, 68);
    font-family: Playfair Display, serif;
    font-size: 15px;
    font-weight: 500;
}

textarea,
.img-upload-icon {
    flex-grow: 1;
    min-height: 80px;
}

.a {
    margin-top: 17px;
    margin-bottom: -15px;
}

.add-btn {
    text-decoration: none;
    padding: 10px 25px;
    color: rgb(202, 145, 24);
    font-family: Playfair Display, serif;
    font-size: 23px;
    font-weight: 500;

    border: 3px solid rgb(231, 178, 62);
    border-radius: 100px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 10px 40px 0 rgba(131, 129, 129, 0.25);
}

.img-upload-icon {
    width: 50px;
    height: 50px;
}

.cursive {
    align-self: center;
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: Annabelle, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
    color: #B6801B;
}