main {
    display: flex;
    flex-direction: column;
    padding: 1.8vw 7vw;
}
.info-and-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
}
.catalog-info-wrapper {
    display: flex;
    flex-direction: column;
}
.filter-btn {
    text-decoration: none;
    padding: 0.7vw 5vw;
    color: rgb(202, 145, 24);
    font-family: Playfair Display, serif;
    font-size: 1.3vw;
    font-weight: 500;
    border: 0.2vw solid rgb(231, 178, 62);
    border-radius: 10vw;
    background: rgb(255, 255, 255);
    box-shadow: 5px 10px 40px 0 rgba(131, 129, 129, 0.25);
}
.filter-btn-wrapper {
    margin-top: 1vw;
}
.filters {
    padding: 1vw;
    padding-bottom: 2px;
    box-shadow: 20px 30px 30px 0 rgba(131, 129, 129, 0.25);
    align-self: center;
}
.filters p {
    white-space: nowrap;
    color: rgb(90, 68, 68);
    font-family: Playfair Display, serif;
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 1.4vw;
}
.filter-option-icon {
    margin-bottom: 1vw;
    height: 1.5vw;
    width: 1.5vw;
}
.option {
    display: flex;
    gap: 0.5vw;
}
.all-recipes-option {
    white-space: nowrap;
    color: rgb(176, 49, 64);
    font-family: Playfair Display, serif;
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 1vw;
}
.option:hover {
    cursor: pointer;
    font-weight: 600;
    transform: scale(1.05);
    transition: transform 0.2s ease;
}
.title-catalog {
    color: rgb(207, 165, 87);
    font-family: 'Kaliningrad Historical G', sans-serif;
    font-size: 4.5vw;
    font-weight: 400;
}
.container_recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 1.45vw;
    padding: 1.45vw 0;
    justify-content: flex-start;
}
.recipie-element {
    background-color: white;
    width: calc(25% - 1.1vw);
    border-radius: 2.6vw;
    padding: 1.3vw;
    display: flex;
    flex-direction: column;
}
.recipe-desc {
    margin-top: 1vw;
    color: rgb(90, 68, 68);
    font-family: Playfair Display, serif;
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.4vw;
}
.recipe-elements {
    display: flex;
    height: 4vw;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 2.5vw;
    padding-bottom: 1.3vw;
}
.show-more-btn {
    text-decoration: none;
    color: rgb(202, 145, 24);
    font-family: Playfair Display, serif;
    font-weight: 500;
    border: 3px solid rgb(231, 178, 62);
    background: rgb(255, 255, 255);
    box-shadow: 5px 10px 40px 0 rgba(131, 129, 129, 0.25);
    padding: 0.7vw 2vw;
    font-size: 1.3vw;
    border-radius: 10vw;
}
.show-more-btn-wrapper {
    padding-top: 1.5vw;
    display: flex;
    justify-content: center;
}
.page-numbers-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}
.page-numbers {
    color: rgb(90, 68, 68);
    display: flex;
    gap: 1vw;
    font-family: Playfair Display, serif;
    font-size: 1.6vw;
    font-weight: 500;
}
.page-arrow {
    width: 2vw;
    height: 2vw;
    margin-top: 0.4vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
.page-arrow-reverse {
    width: 2vw;
    height: 2vw;
    margin-top: 0.4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    transform: rotate(180.00deg);
}
footer {
    padding-top: 2vw;
    padding-bottom: 1vw;
    display: flex;
    justify-content: center;
}
.recipe-det{
    width: 3vw;
    height: 3vw;
}
.recipe-det-btn:hover {
    border-radius: 10vw;
    box-shadow: 0 0 10px rgba(226, 194, 124, 0.73);
    transform: scale(1.02);
    transition: all 0.3s ease;
}
.option.selected .filter-option-icon path {
    fill: rgba(182, 128, 27, 0.46); /* Колір заливки іконки при активації */
}
.option.selected p {
    font-weight: 500; /* Виділення тексту вибраної опції жирним шрифтом */
}
#no-recipes-message {
    display: none;
    opacity: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
    color: #b75555;
    transition: opacity 0.6s ease;
}
#no-recipes-message.show {
    display: block;
    opacity: 1;
}
@media (max-width: 1200px) {
    .title-catalog {
        font-size: 5.5vw;
    }
    .filter-btn {
        font-size: 1.8vw;
        padding: 1vw 7vw;
    }
    .filters p, .all-recipes-option {
        font-size: 2vw;
    }

    .recipe-desc {
        font-size: 1.5vw;
        line-height: 2vw;
    }
    .recipe-elements {
        height: 6vw;
    }
    .show-more-btn {
        font-size: 1.7vw;
        padding: 1vw 3vw;
    }
    .recipe-det{
        width: 3vw;
        height: 3vw;
    }
}
@media (max-width: 992px) {
    .info-and-filters {
        flex-direction: column;
        gap: 2vw;
    }
    .filter-btn {
        text-align: center;
        font-size: 2.5vw;
    }
    .filters {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
    }
    .filters p {
        font-size: 2.5vw;
    }
    .recipie-element {
        width: calc(33.33% - 2vw);
    }
    .recipe-desc {
        font-size: 2.2vw;
        line-height: 3vw;
    }
    .recipe-elements {
        height: 8vw;
    }
    .show-more-btn {
        font-size: 2.5vw;
        padding: 2vw 5vw;
    }
    .page-numbers {
        font-size: 2.5vw;
    }
    .page-arrow {
        width: 3vw;
        height: 3vw;
    }
    .page-arrow-reverse {
        width: 3vw;
        height: 3vw;
    }
    .recipe-det{
        width: 4vw;
        height: 4vw;
    }
}
@media (max-width: 576px) {
    .filter-btn, .show-more-btn{
        font-size: 4vw;
        padding: 1vw 6vw;
        border: 0.3vw solid rgb(231, 178, 62);
    }
    .filters p, .all-recipes-option {
        font-size: 4vw;
    }
    .recipie-element {
        border-radius: 5vw;
        width: calc(50% - 2vw);
        padding: 2.7vw;
    }
    .recipe-desc {
        font-size: 3.5vw;
        line-height: 4.2vw;
    }
    .recipe-elements {
        height: auto;
        gap: 2vw;
    }

    .page-numbers {
        font-size: 4vw;
    }
    .page-arrow, .page-arrow-reverse {
        margin-top: 6px;
        width: 5vw;
        height: 5vw;
    }

    .recipe-det{
        width: 6vw;
        height: 6vw;
    }
    .recipe-title, .likes-numb {
        font-size: 3.7vw;
    }
    .filter-option-icon {
        margin-top: 0vw;
        margin-bottom: 2vw;
        height: 3vw;
        width: 3vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }
    .option p{
        margin-top: 1vw;
        font-size: 3vw;
    }
}
