main {
    display: flex;
    flex-direction: column;
    padding: 0 0;
}

.start-page {
    background-color: #FFF5F3;
    /*padding: 30px 150px;*/
    padding: 2vw 10vw; /* вместо фиксированных паддингов */
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(0.00deg, rgb(255, 255, 255), rgba(255, 252, 252, 0.88) 62.1%, rgba(255, 244, 243, 0.52) 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
}

.start-page-row1 {
    display: flex;
    /*padding-bottom: 20px;*/
    padding-bottom: 2vw; /* адаптивный паддинг */
}

.start-page-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2vw; /* добавлен паддинг */
}

.home-page-title {
    color: rgb(207, 165, 87);
    font-family: Kaliningrad Historical G, serif;
    /*font-size: 90px;*/
    font-size: 6vw; /* адаптивный размер шрифта */
    font-weight: 400;
    /*line-height: 95px;*/
    line-height: 1;
}

.cursive-main {
    color: rgb(207, 165, 87);
    font-family: Annabelle, serif;
    /*font-size: 35px;*/
    font-size: 2.3vw;
    font-weight: 400;
    /*line-height: 40px;*/
    line-height: 1.1;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.start-page .cursive-main {
    opacity: 0;
    width: 0; /* скрываем ширину */
    overflow: hidden; /* скрываем переполнение */
    white-space: nowrap; /* запрещаем перенос строк */
    animation: typing 3s forwards ease-in-out; /* анимация появления */
}

.catalog-btn {
    text-decoration: none;
    /*padding: 16px 73px;*/
    padding: 0.8vw 3vw;
    color: rgb(202, 145, 24);
    font-family: Playfair Display, serif;
    /*font-size: 25px;*/
    font-size: 1.7vw;
    font-weight: 500;
    border: 0.2vw solid rgb(231, 178, 62);
    /*border: 3px solid rgb(231, 178, 62);*/
    /*border-radius: 100px;*/
    border-radius: 2.4vw;
    background: rgb(255, 255, 255);
    /*box-shadow: 5px 10px 40px 0 rgba(131, 129, 129, 0.25);*/
    box-shadow: 0.5vw 1vw 3vw rgba(131, 129, 129, 0.25);
}


.catalog-btn:hover, .catalog-btn2:hover {
    border-radius: 2.4vw;
    color: rgb(152, 110, 19);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgb(226, 183, 183);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.catalog-btn-wrapper {
    /*margin-top: 27px;*/
    margin-top: 2.5vw;
}

.start-page-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cakes {
    width: 100%;
}

.start-page-row2 {
    /*margin-top: 50px;*/
    margin-top: 5vw;
    width: 100%;
    /*padding: 35px 0;*/
    padding: 2vw 0;
    /*padding-bottom: 15px;*/
    padding-bottom: 1.5vw ;
    display: flex;
    flex-direction: column;
    /*border-radius: 40px;*/
    border-radius: 2vw;
    background: rgb(249, 236, 192);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row2-text {
    color: rgb(182, 128, 27);
    font-family: Playfair Display, serif;
    /*font-size: 32px;*/
    font-size: 2vw;
    font-weight: 500;
}

.recipes-card-container {
    display: flex;
    /*gap: 15px;*/
    /*margin-top: 10px;*/

    gap: 1vw;
    margin-top: 1vw;

    justify-content: space-between;
    text-align: left;
    width: 80%;
}

.recipe-card {
    /*width: calc(22% - 13px);*/
    width: calc(22% - 1vw);
    height: 100%;

    display: flex; /* делаем карточку флекс-контейнером */
    flex-direction: column; /* размещаем элементы вертикально */
    justify-content: start; /* чтобы всё шло сверху */
    min-height: 250px;
}
.like-icon{
    width: 2.2vw;
    height: 2.2vw;
    margin-top: 0.1vw;
}

.recipe-img {
    width: 100%;
    border-radius: 0;
    aspect-ratio: 4/4;
}
.likes-group1 {
    display: flex;
    align-items: center;

    margin-top: auto;
    padding-top: 0.5vw;
}

.about-us {
    background-color: #ffffff;
    /*padding: 70px 210px;*/
    padding: 9vw 15vw;
    display: flex;
    justify-content: center;
}

.about-us-text {
    /*margin-top: 30px;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 50%;
    /*padding-right: 30px;*/
    /*gap: 20px;*/
    padding-right: 3vw;
    gap: 1vw;
}

.section-title {
    color: #CFA557;
    font-family: Kaliningrad Historical G, serif;
    font-weight: 400;
    /*font-size: 70px;*/
    /*margin-bottom: 20px;*/
    font-size: 5vw;
    margin-bottom: 2vw;
}

.about-us-text .cursive-main {
    color: #B6801B;
}

.about-us-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-left: 60px;*/
    padding-left: 4vw;
    height: 100%;
}

.food-img {
    width: 100%;
}

.text-highlight {
    font-style: italic;
    font-weight: 800;
}

.what-we-offer-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*gap: 20px;*/
    gap: 1.1vw;
}

.features {
    width: 60%;
}

.what-we-offer .cursive-main {
    width: 90%;
    color: #B6801B;
}

.catalog-btn2 {
    text-decoration: none;
    padding: 0.8vw 3vw;
    color: rgb(202, 145, 24);
    font-family: Playfair Display, serif;
    /*font-size: 25px;*/
    font-size: 1.5vw;
    font-weight: 500;
    border: 0.2vw solid rgb(231, 178, 62);
    /*border: 3px solid rgb(231, 178, 62);*/
    /*border-radius: 100px;*/
    border-radius: 2.4vw;
    background: rgb(255, 255, 255);
    /*box-shadow: 5px 10px 40px 0 rgba(131, 129, 129, 0.25);*/
    box-shadow: 0.5vw 1vw 3vw rgba(131, 129, 129, 0.25);
}

.catalog-btn-wrapper2 {
    margin-top: 5vw;
}

.text-highlight2 {
    font-style: italic;
    font-weight: 800;
    color: #B6801B;
}

footer .cursive-main {
    /*font-size: 45px;*/
    font-size: 2.8vw;
    color: rgb(90, 68, 68);
    width: 55%;
    /*padding-top: 150px;*/
    /*padding-bottom: 130px;*/
    padding-top: 8vw;
    padding-bottom: 7vw;
    margin: 0 auto;
}

.arrow {
    /*margin-top: 7%;*/
    /*width: 30px;*/
    /*height: 70px;*/
    margin-top: 7%;
    width: 3vw;
    height: 4vw;
}

.arrow-reverse {
    margin-top: 7%;
    width: 3vw;
    height: 4vw;
    transform: rotate(180deg);
}

/* Стиль для зображення */
.start-page-img {
    position: relative;
}

.cakes {
    animation: moveUpDown 3s ease-in-out infinite;
    /*filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)); !* початково без тіні *!*/
}

/* Анімація */
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


/* Опис анімації для появи тексту (ефект друкування) */
@keyframes typing {
    0% {
        width: 0; /* Початковий розмір ширини елемента */
        opacity: 0; /* Початкова непрозорість (не видно) */
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

/* Для кожної строки з затримкою */
.cursive-main:nth-child(1) {
    animation-delay: 0s; /* Перша строка починає анімацію відразу */
}

.cursive-main:nth-child(2) {
    animation-delay: 1s; /* Друга строка починає анімацію через 1 секунду */
}

.cursive-main:nth-child(3) {
    animation-delay: 2s; /* Третя строка починає анімацію через 2 секунди */
}




@media (max-width: 768px) {
    .about-us {
        flex-direction: column;
        align-items: center;
        padding: 10vw 5vw;
    }

    .about-us-text, .about-us-img {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .about-us-img {
        width: 50%;
        margin-top: 5vw;
    }

    .what-we-offer-text {
        width: 80%;
    }

    .start-page-row1 {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .start-page-text {
        width: 90%;
    }
    .cakes {
        margin-top: 5vw;
    }

}

