main {
    display: flex;
    flex-direction: column;
    padding: 0 0;
}
.start-page {
    background-color: #FFF5F3;
    padding: 2vw 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(0.00deg, rgb(255, 255, 255), rgba(255, 252, 252, 0.88) 62.1%, rgba(255, 244, 243, 0.52) 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
}
.start-page-row1 {
    display: flex;
    padding-bottom: 2vw;
}
.start-page-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2vw;
}
.home-page-title {
    color: rgb(207, 165, 87);
    font-family: Kaliningrad Historical G, serif;
    font-size: 6vw;
    font-weight: 400;
    line-height: 1;
}
.cursive-main {
    color: rgb(207, 165, 87);
    font-family: Annabelle, serif;
    font-size: 2.3vw;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.start-page .cursive-main {
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s forwards ease-in-out;
}
.catalog-btn {
    text-decoration: none;
    padding: 0.8vw 3vw;
    color: rgb(202, 145, 24);
    font-family: Playfair Display, serif;
    font-size: 1.7vw;
    font-weight: 500;
    border: 0.2vw solid rgb(231, 178, 62);
    border-radius: 10vw;
    background: rgb(255, 255, 255);
    box-shadow: 0.5vw 1vw 3vw rgba(131, 129, 129, 0.25);
}
.catalog-btn:hover, .catalog-btn2:hover {
    border-radius: 2.4vw;
    color: rgb(152, 110, 19);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgb(226, 183, 183);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.catalog-btn-wrapper {
    margin-top: 2.5vw;
}
.start-page-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cakes {
    width: 100%;
}
.start-page-row2 {
    margin-top: 5vw;
    width: 100%;
    padding: 2vw 0;
    padding-bottom: 1.5vw;
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
    background: rgb(249, 236, 192);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row2-text {
    color: rgb(182, 128, 27);
    font-family: Playfair Display, serif;
    font-size: 2vw;
    font-weight: 500;
}
.recipes-card-container {
    display: flex;
    gap: 1vw;
    margin-top: 1vw;
    justify-content: space-between;
    text-align: left;
    width: 80%;
}
.recipe-card {
    width: calc(22% - 1vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}
.recipe-img {
    width: 100%;
    border-radius: 0;
    aspect-ratio: 4/4;
}
.likes-group1 {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-top: 0.5vw;
}
.about-us {
    background-color: #ffffff;
    padding: 9vw 15vw;
    display: flex;
    justify-content: center;
}
.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 50%;
    padding-right: 3vw;
    gap: 1vw;
}
.section-title {
    color: #CFA557;
    font-family: Kaliningrad Historical G, serif;
    font-weight: 400;
    font-size: 5vw;
    margin-bottom: 2vw;
}
.about-us-text .cursive-main {
    color: #B6801B;
}
.about-us-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4vw;
    height: 100%;
}
.food-img {
    width: 100%;
}
.text-highlight {
    font-style: italic;
    font-weight: 800;
}
.what-we-offer-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.1vw;
}
.features {
    width: 60%;
}
.what-we-offer .cursive-main {
    width: 90%;
    color: #B6801B;
}
.catalog-btn2 {
    text-decoration: none;
    padding: 0.8vw 3vw;
    color: rgb(202, 145, 24);
    font-family: Playfair Display, serif;
    font-size: 1.5vw;
    font-weight: 500;
    border: 0.2vw solid rgb(231, 178, 62);
    border-radius: 10vw;
    background: rgb(255, 255, 255);
    box-shadow: 0.5vw 1vw 3vw rgba(131, 129, 129, 0.25);
}
.catalog-btn-wrapper2 {
    margin-top: 5vw;
}
.text-highlight2 {
    font-style: italic;
    font-weight: 800;
    color: #B6801B;
}
footer .cursive-main {
    font-size: 2.8vw;
    color: rgb(90, 68, 68);
    width: 55%;
    padding-top: 8vw;
    padding-bottom: 7vw;
    margin: 0 auto;
}
.arrow {
    margin-top: 7%;
    width: 3vw;
    height: 4vw;
}
.arrow-reverse {
    margin-top: 7%;
    width: 3vw;
    height: 4vw;
    transform: rotate(180deg);
}
.start-page-img {
    position: relative;
}
.cakes {
    animation: moveUpDown 3s ease-in-out infinite;
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes typing {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}
.cursive-main:nth-child(1) {
    animation-delay: 0s;
}
.cursive-main:nth-child(2) {
    animation-delay: 1s;
}
.cursive-main:nth-child(3) {
    animation-delay: 2s;
}
@media (max-width: 1200px) {
    .home-page-title {
        font-size: 5vw;
    }
    .cursive-main {
        font-size: 2.2vw;
    }
    .row2-text {
        font-size: 1.8vw;
    }
    .section-title {
        font-size: 4.5vw;
    }
    .about-us-text .cursive-main {
        font-size: 2.2vw;
    }
    .what-we-offer-text {
        font-size: 1.8vw;
    }
    .catalog-btn {
        font-size: 1.5vw;
    }
    .catalog-btn2 {
        font-size: 1.4vw;
    }
    footer .cursive-main {
        font-size: 2.5vw;
    }
    .recipe-card {
        min-height: 250px;
    }
}
@media (max-width: 992px) {
    .home-page-title {
        font-size: 7vw;
    }
    .cursive-main {
        font-size: 2.5vw;
    }
    .row2-text {
        font-size: 2vw;
    }
    .section-title {
        font-size: 5vw;
    }
    .about-us-text .cursive-main {
        font-size: 2.5vw;
    }
    .what-we-offer-text {
        font-size: 2vw;
    }
    .catalog-btn {
        font-size: 1.8vw;
    }
    .catalog-btn2 {
        font-size: 1.6vw;
    }
    footer .cursive-main {
        font-size: 2.7vw;
    }
    .start-page-row1 {
        flex-direction: column;
        align-items: center;
    }
    .start-page-img {
        width: 50%;
        margin-top: 6vw;
    }
    .start-page-text {
        width: 100%;
        text-align: center;
    }
    .about-us {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .about-us-text {
        width: 100%;
    }
    .about-us-img {
        width: 70%;
        margin-top: 2vw;
    }
    .what-we-offer {
        text-align: center;
    }
    .what-we-offer-text {
        width: 100%;
        padding: 0 4vw;
    }
    .catalog-btn-wrapper2 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3vw;
    }
    .catalog-btn2 {
        padding: 1vw 5vw;
    }
    .recipe-card {
        min-height: 270px;
    }
}
@media (max-width: 576px) {
    .home-page-title {
        font-size: 10vw;
    }
    .cursive-main {
        font-size: 3.5vw;
    }
    .row2-text {
        font-size: 2.5vw;
    }
    .section-title {
        font-size: 6vw;
    }
    .about-us-text .cursive-main {
        font-size: 3.5vw;
    }
    .what-we-offer-text {
        font-size: 2.5vw;
    }
    .catalog-btn {
        font-size: 2vw;
    }
    .catalog-btn2 {
        font-size: 1.8vw;
    }

    .recipes-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .recipe-card {
        width: 48%;
        margin-bottom: 2vw;
    }
    .arrow {
        display: none;
    }
    .arrow-reverse {
        display: none;
    }
    .recipe-card {
        min-height: 220px;
    }
    .catalog-btn, .catalog-btn2 {
        font-size: 4vw;
        padding: 1vw 6vw;
    }
    footer .cursive-main, .cursive-main {
        font-size: 4vw;
    }

}
