@font-face {
    font-family: 'Annabelle';
    src: url('/fonts/Annabelle Cyr/Annabelle Cyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kaliningrad Historical G';
    src: url('/fonts/Kaliningrad Historical G/Kaliningrad_Historical_G_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    padding: 30px 110px;
}
.header {
    display: flex;
    flex-direction: column;
}
.logo-with-login {
    display: flex;
    align-items: center;
    padding: 1.2vw 7.2vw;
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3.4vw;
}
.login-section {
    margin-left: auto;
}
.login-icon {
    width: 2.7vw;
}
.login-btn {
    text-decoration: none;
    color: rgb(90, 68, 68);
    font-family: Playfair Display;
    font-size: 1vw;
    font-weight: 400;
    margin-left: 0.4vw;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3vw;
    background: linear-gradient(90deg, rgb(231, 178, 62), rgb(239, 202, 120) 34.1%, rgb(247, 223, 172) 61.6%, rgb(251, 234, 197) 99.99%);
}
.nav-element {
    padding: 1vw 0;
    flex: 1;
    max-width: 13vw;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Playfair Display, serif;
    font-size: 1.2vw;
    font-weight: 500;
    text-decoration: none;
}
.nav-element:hover {
    color: rgb(90, 68, 68);
}
.curr-page {
    height: 100%;
    color: rgb(183, 133, 39);
    background-color: #FFF5F3;
}
.regular-text {
    color: rgb(90, 68, 68);
    font-family: Playfair Display, serif;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 1.7vw;
}
.recipe-title {
    margin-top: 1vw;
    color: #B6801B;
    font-family: Playfair Display, serif;
    font-size: 1.2vw;
    font-weight: 600;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.recipe-img {
    width: 100%;
    border-radius: 1.8vw;
}
.likes-group {
    display: flex;
    align-items: center;
}
.likes-numb {
    margin-left: 8px;

    color: #B6801B;
    font-family: Playfair Display;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 1.2vw;
}
.like-icon {
    width: 2.2vw;
    height: 2.2vw;
    margin-top: 0.1vw;
}
.save-btn {
    background-color: #FFF4F3;
    padding: 0.7vw 1.4vw;
    text-decoration: none;
    color: rgb(176, 49, 64);
    font-family: Playfair Display, serif;
    font-size: 1.1vw;
    font-weight: 600;
    border-radius: 10vw;
}
input,
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(214, 114, 114);
    border-radius: 4px;
    background: rgb(255, 255, 255);
    color: rgb(90, 68, 68);
    font-family: Playfair Display, serif;
}
input::placeholder,
textarea::placeholder,
select {
    color: rgb(226, 183, 183);
    font-family: Playfair Display, serif;
    font-size: 1vw;
    font-weight: 500;
}
input:focus,
textarea:focus,
select:focus,
input[type="file"]:focus {
    outline: none;
}
label {
    color: rgb(100, 83, 83);
    font-family: Playfair Display, serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.main-btn:hover {
    border-radius: 100px;
    color: rgb(152, 110, 19);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgb(226, 183, 183);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.save-delete-fav-btn:hover {
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(226, 194, 124, 0.73);
    transform: scale(1.02);
    transition: all 0.3s ease;
}
.fade-in-element {
    opacity: 0; /* Початкова прозорість */
    transform: translateY(20px); /* Початкова позиція елемента */
    transition: opacity 1s, transform 1s; /* Тривалість анімації */
}
.fade-in-element.visible {
    opacity: 1;
    transform: translateY(0); /* Елемент плавно переміщається в початкову позицію */
}
.form-message {
    opacity: 0;
    transition: opacity 0.5s ease;
    font-weight: 600;
}
.form-message.visible {
    opacity: 1;
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 171, 171, 0.4);
}
.modalText {
    background-color: #FFF5F3;
    border-radius: 30px;
    margin: 15% auto;
    padding: 40px 20px;
    border: 2px solid #ffffff;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalText:hover {
    box-shadow: 0 0 10px rgba(226, 194, 124, 0.73);
    transform: scale(1.02);
    transition: all 0.3s ease;
}
@media (max-width: 1200px) {
    .logo {
        height: 2.8vw;
    }
    .nav-element {
        font-size: 1.5vw;
    }
    .recipe-title {
        font-size: 1.1vw;
    }
    .recipe-img {
        border-radius: 1.5vw;
    }
    .likes-numb {
        font-size: 1.2vw;
    }
    .save-btn {
        font-size: 1.2vw;
        padding: 0.6vw 1vw;
    }
    .regular-text, input::placeholder,
    textarea::placeholder,
    select {
        font-size: 1.8vw;
        line-height: 2vw;
    }
    .login-btn {
        font-size: 1.2vw;
    }
    .recipe-title, .likes-numb {
        font-size: 1.5vw;
    }
    .like-icon {
        width: 2.5vw;
        height: 2.5vw;
    }
}
@media (max-width: 992px) {
    .logo {
        height: 3.2vw;
    }
    .nav-element {
        font-size: 1.8vw;
    }
    .recipe-title {
        font-size: 1.3vw;
    }
    .recipe-img {
        border-radius: 2vw;
    }
    .likes-numb {
        font-size: 1.4vw;
    }
    .save-btn {
        font-size: 2vw;
        padding: 0.6vw 0.9vw;
    }
    .regular-text, input::placeholder,
    textarea::placeholder,
    select {
        font-size: 2.2vw;
        line-height: 2.8vw;
    }
    .login-btn {
        font-size: 1.5vw;
    }
    .recipe-title, .likes-numb {
        font-size: 2vw;
    }
    .like-icon {
        width: 3vw;
        height: 3vw;
    }
}
@media (max-width: 576px) {
    .logo {
        height: 4vw;
    }
    .nav-element {
        font-size: 2.5vw;
    }
    .recipe-title {
        font-size: 1.5vw;
    }
    .recipe-img {
        border-radius: 3vw;
    }
    .save-btn {
        font-size: 3vw;
        padding: 1vw 2vw;
    }
    .regular-text, input::placeholder,
    textarea::placeholder,
    select {
        font-size: 3vw;
        line-height: 3.6vw;
    }
    .login-btn {
        font-size: 2.3vw;
    }
    .recipe-title, .likes-numb {
        font-size: 3vw;
        margin-left: 0.4vw;
        margin-bottom: 0.9vw;
    }
    .like-icon {
        width: 4vw;
        height: 4vw;

    }
    nav {
        gap:4vw;
    }
}
