main {
    padding: 0;
    padding-bottom: 2vw;
}

.recipe-head {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-name {
    color: #CFA557;
    font-family: Kaliningrad Historical G, serif;
    font-weight: 400;
    font-size: 4.3vw;
}

.details-and-comments-container {
    display: flex;
    margin-top: 2.5vw;
}

.details-container {
    margin-left: 13vw; /* замість 200px */
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.7vw; /* замість 25px */
    padding-right: 2.7vw; /* замість 40px */
}

.comments-container {
    margin-right: 6.7vw; /* замість 100px */
    width: 20%;
    padding-left: 2.7vw; /* замість 40px */
}

.cursive {
    font-family: Annabelle, serif;
    font-size: 2.5vw;
    font-weight: 400;
    color: rgb(207, 165, 87);
    margin-bottom: 0;
    line-height: 1.5vw;
}

.recipe-elements {
    display: flex;
    gap: 1.7vw; /* замість 25px */
}

.time-numb,
.category-name {
    margin-left: 0.5vw; /* замість 8px */
    margin-top: 0.1vw; /* замість 1px */
    font-family: Playfair Display, serif;
    font-size: 1.1vw; /* замість 16px */
    line-height: 1.3vw;
    color: rgb(90, 68, 68);
}

.category-name {
    margin-top: 0.7vw; /* замість 10px */
}

.time-group {
    display: flex;
    align-items: center;
}

.save-btn2 {
    background-color: #FFF4F3;
    padding: 0.5vw 1.3vw; /* замість 10px 20px */
    text-decoration: none;
    color: rgb(176, 49, 64);
    font-family: Playfair Display, serif;
    font-size: 1.1vw; /* замість 16px */
    font-weight: 600;
    line-height: 1.3vw;
    border-radius: 10vw; /* замість 27.5px */
}

.send-btn {
    margin-top: 1vw; /* замість 15px */
    text-decoration: none;
    padding: 0.3vw 1.7vw; /* замість 5px 25px */
    color: rgb(202, 145, 24);
    font-family: Playfair Display, serif;
    font-size: 1.1vw; /* замість 16px */
    font-weight: 500;
    border: 0.2vw solid rgb(231, 178, 62); /* замість 3px */
    border-radius: 10vw; /* замість 100px */
    background: rgb(255, 255, 255);
    box-shadow: 0.3vw 0.5vw 2vw 0 rgba(131, 129, 129, 0.25); /* замість 5px 10px 40px */
}

.details-and-comments-container .cursive {
    color: rgb(182, 128, 27);
}

.recipe-img {
    width: 80%;
    border-radius: 0;
}

.ingredients-container {
    display: flex;
    gap: 3.3vw; /* замість 50px */
}

aside {
    border-left: 0.1vw solid #ccc; /* замість 1px */
}

.client-name {
    color: rgb(90, 68, 68);
    font-family: Playfair Display, serif;
    font-size: 1.1vw;
    font-weight: 500;
}

.comment-text {
    color: rgb(90, 68, 68);
    font-family: Playfair Display, serif;
    font-size: 1vw;
    font-weight: 400;
}

.comments {
    margin-top: 2vw; /* замість 30px */
}

label {
    margin-top: 2vw; /* замість 30px */
    font-size: 1.3vw; /* замість 18px */
}

footer {
    padding-top: 1.3vw; /* замість 20px */
    padding-bottom: 0.7vw; /* замість 10px */
    display: flex;
    justify-content: center;
}

.time-icon{
    width: 2vw;
    height: 2vw;
    margin-top: 0.1vw;
}




/* Базові стилі залишаються такі, як ти надіслав */

@media (max-width: 1200px) {
    .recipe-name {
        font-size: 5vw;
    }
    .cursive {
        font-size: 3vw;
        line-height: 2vw;
    }
    .time-numb,
    .category-name {
        font-size: 1.5vw;
        line-height: 1.8vw;
    }
    .save-btn2,
    .send-btn {
        font-size: 1.5vw;
        padding: 1vw 2vw;
    }
    .comment-text,
    .client-name {
        font-size: 1.8vw;
    }
    label {
        font-size: 1.7vw;
    }
    .recipe-img {
        width: 90%;
    }
    .time-icon {
        width: 2.5vw;
        height: 2.5vw;
    }
}

@media (max-width: 992px) {
    .recipe-head {
        margin-top: 5vw;
    }
    .recipe-name {
        font-size: 6vw;
    }
    .details-and-comments-container {
        flex-direction: column;
        align-items: center;
        gap: 5vw;
    }
    .details-container,
    .comments-container {
        width: 90%;
        margin: 0;
        padding: 0 4vw ;
    }
    .cursive {
        font-size: 4vw;
        line-height: 2.5vw;
    }
    .time-numb,
    .category-name {
        font-size: 2vw;
        line-height: 2.3vw;
    }
    .save-btn2,
    .send-btn {
        font-size: 2vw;
        padding: 1.5vw 3vw;
    }
    .comment-text,
    .client-name {
        font-size: 2.2vw;
    }
    label {
        font-size: 2vw;
    }
    .ingredients-container {
        flex-direction: column;
        gap: 5vw;
    }
    .recipe-img {
        width: 100%;
    }
    .time-icon {
        width: 3vw;
        height: 3vw;
    }
    aside {
        border-left: none;
    }
    hr {
        width: 90%; /* ширина почти на всю страницу */
        margin: 3vw auto; /* отступы и по центру */
        border: none; /* убираем старую рамку */
        height: 2px; /* делаем толщину линии */
        background-color: #CFA557; /* красивый золотистый цвет */
    }
}

@media (max-width: 600px) {
    .recipe-name {
        font-size: 8vw;
    }
    .cursive {
        font-size: 5vw;
        line-height: 4vw;
    }
    .details-and-comments-container {
        margin-top: 5vw;
    }
    .details-container,
    .comments-container {
        width: 100%;
    }
    .time-numb,
    .category-name {
        font-size: 3.5vw;
        line-height: 4vw;
    }
    .save-btn2,
    .send-btn {
        font-size: 3.5vw;
        padding: 2vw 4vw;
    }
    .comment-text,
    .client-name {
        font-size: 3vw;
    }
    label {
        font-size: 4vw;
    }
    .ingredients-container {
        gap: 5vw;
    }
    .recipe-img {
        width: 100%;
    }
    .time-icon {
        width: 4vw;
        height: 4vw;
    }
    aside {
        border-left: none;
    }
    hr {
        width: 90%; /* ширина почти на всю страницу */
        margin: 3vw auto; /* отступы и по центру */
        border: none; /* убираем старую рамку */
        height: 2px; /* делаем толщину линии */
        background-color: #CFA557; /* красивый золотистый цвет */
    }
}
